server:
  servlet:
    context-path: /api/preorder
  port: 8083

spring:
  application:
    name: java-course-spring
  datasource:
    url: jdbc:postgresql://172.17.0.1:5432/preorder?currentSchema=order_schema
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: db/changelog/db.changelog-master.yaml
    enabled: true
  mail:
    host: smtp.mail.ru
    port: 587
    username: orange.preorder@mail.ru
    password: 0kqdRAEpDrsNta1Fs98E
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


application:
  name: @project.artifactId@
  version: @project.version@

app:
  time-zone: Europe/Chisinau

restaurant:
  resources:
    path: /srv/preorder/resources/