<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="profile" source="spring.profiles.active"/>

    <springProfile name="qa">
        <property name="LOG_PATH" value="/srv/preorder/logs/"/>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/preorder-${profile}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd,aux}/preorder-${profile}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>10</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%d %5p | %t | %-54logger{55} | %m %n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>